.idea
.vscode
*.iml
*.apk
*.ap_
*.aab
*.dill
*.so
*.dSYM/
*.zip
*.jar
*.swp
.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub-cache/
.pub/
/build/
/.pub-cache/
/.pub/
/doc/api/
/local.properties
/coverage/
/android/.gradle/
/android/app/gradle/
# /android/gradle/  # 注释掉，允许 gradlew 上传
/android/app/build/
/android/build/
/.idea/
/.dart_tool/
